@import "../../components/shared.module.less";

:local {
  .blackBlock {
    .mainBlock;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 1080px;
    padding-bottom: 70px;
    box-sizing: border-box;
    background-color: @blue;
    overflow: hidden;
  }

  .text {
    width: 411px;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
  }

  .blueText {
    color: #fff;
  }
}
