@import "../../components/shared.module.less";

:local {
  .blackBlock {
    padding: 362px 70px 0 70px;
    box-sizing: border-box;
    height: 100vh;
    color: #fff;
    background-color: @black;
  }

  .text {
    width: 411px;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
  }

  .blueText {
    color: #87b7f3;
  }
}
