@import "../../components/shared.module.less";

:local {
  .mainPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: no-repeat #B0D1FB url(./../../media/1.png) right bottom;
  }
}
