@import "../../components/shared.module.less";

:local {
  .tariffBlock {
    .mainBlock;
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    padding-top: 76px;
    padding-bottom: 50px;
    box-sizing: border-box;
    background-image: linear-gradient(
      to bottom,
      #fff 50%,
      #efefef 50%,
      #efefef 100%,
      #fff 100%
    );
  }

  .title {
    text-align: center;
    font-size: 50px;
    line-height: 55px;
    font-size: 50px;
  }

  .textBlue {
    color: @blue;
  }

  .subtitle {
    margin: 15px auto 0 auto;
    text-align: center;
    width: 679px;
    font-size: 20px;
    line-height: 140%;
    color: @black;
  }

  .wrapperSteps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .stepsRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  .step {
    width: 630px;
    min-width: 500px;
    height: 560px;
    position: relative;
    box-sizing: border-box;
    border-radius: 50px;
    border: @black 1px solid;
    margin-bottom: 60px;

    padding: 50px 40px;
    box-shadow: -1px 0px 0px #000000, 1px 0px 0px #000000, 0px -1px 0px #000000,
      0px 3px 0px #000000;

    &:hover {
      .play {
        visibility: visible;
      }
      transform: translateY(-5px);
      transition-duration: 0.3s;
    }
  }

  .step1 {
    background-color: @blue;
  }

  .step2 {
    background-color: @white;
  }

  .step3 {
    background-color: @white;
  }
  .step4 {
    color: #fff;
    background-color: @black;
  }

  .stepTitle {
    font-family: Value Sans Pro Bold;
    font-weight: 500;
    font-size: 35px;
    line-height: 120%;
  }

  .stepdescription {
    font-size: 20px;
    margin-top: 15px;
    line-height: 28px;
  }
  .stepTitleMega {
    position: absolute;
    width: 216px;
    height: 187px;
    color: #fff;
    top: -60px;
    left: 90px;
    font-size: 170px;
    font-weight: 700;
    line-height: 110%;
    // border: 15px solid #FFFFFF;
    text-shadow: -1px 0px 0px #000000, 1px 0px 0px #000000, 0px -1px 0px #000000,
      0px 3px 0px #000000;
    text-align: center;
    letter-spacing: 10px;
  }

  .img1 {
    position: absolute;
    bottom: 0;
    right: -50px;
  }

  .img2 {
    position: absolute;
    bottom: -50px;
    right: -50px;
  }

  .itemsWrapper {
    position: absolute;
    width: 600px;
    bottom: 20px;
  }

  .row {
    display: flex;
  }

  .checkTextWrapper {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    width: 200px;
  }

  .checkItem {
    display: flex;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 120%;
  }

  .check {
    margin-right: 5px;
  }

  .item {
    width: 130px;
    margin-bottom: 30px;
  }

  .itemTitle {
    .boldText;
    font-size: 30px;
    line-height: 120%;
  }

  .itemSmall {
    width: 130px;

    margin-bottom: 30px;
    opacity: 0.6;
  }

  .itemSmallTitle {
    .boldText;
    font-size: 25px;
    line-height: 120%;
  }

  .itemSubtitle {
    font-size: 14px;
    line-height: 110%;
    width: 124px;
    font-weight: 500;
  }

  .play {
    visibility: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 50px;
    right: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding-left: 6px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: -1px 0px 0px #000000, 1px 0px 0px #000000, 0px -1px 0px #000000,
      0px 3px 0px #000000;

    svg {
      height: 40px;
      width: 40px;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .playWhite {
    box-shadow: -1px 0px 0px #fff, 1px 0px 0px #fff, 0px -1px 0px #fff,
      0px 3px 0px #fff;
  }

  .buttons {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
  }

  .button {
    .buttonStyle;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    color: @black;

    &:hover {
      cursor: pointer;
      transform: translateY(-2px);
      transition-duration: 0.3s;
    }

    .arrowBox {
      width: 20px;
      height: 21px;
    }
  }

  //планшет
  @media screen and (max-width: 1024px) {
    .tariffBlock {
      padding: 60px 15px 50px 15px;
    }

    .step {
      width: 100%;
      height: 408px;

      min-width: 200px;
      border-radius: 20px;
      padding: 30px 20px;
      margin-bottom: 40px;
    }

    .step3 {
      display: none;
    }

    .img1 {
      bottom: -36px;
      right: -37px;
    }

    .itemsWrapper {
      width: 100%;
    }

    .item {
      width: 110px;
      margin-bottom: 20px;
    }

    .itemSmall {
      width: 110px;
      margin-bottom: 20px;
    }

    .stepTitle {
      font-size: 24px;
      line-height: 120%;
    }
    .stepdescription {
      font-size: 16px;
      line-height: 140%;
    }

    .itemTitle,
    .itemSmallTitle {
      font-size: 20px;
      line-height: 120%;
    }

    .itemSubtitle {
      font-size: 12px;
      line-height: 110%;
    }

    .buttons {
      height: 40px;
    }

    .button {
      font-size: 16px;
      .arrowBox {
        width: 15px;
        height: 15px;
      }
    }
  }

  //мобилка
  @media screen and (max-width: 428px) {
    .nav {
      display: none;
    }
  }
}
