:local {
  .blackBlock {
    padding: 362px 70px 0 70px;
    box-sizing: border-box;
    height: 100vh;
    color: #fff;
    background-color: #1d1d1b;
    
  }

  .text {
    width: 411px;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
  }

  .blueText {
      color: #87B7F3;
  }
}
