@import "../components/shared.module.less";

:local {
  .mainPage {
    font-family: Value Sans Pro Regular;
  }
  .firstBlock {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
    min-width: 1024px;
    padding: 20px 70px 0 70px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-color: #b0d1fb;
    background-image: url(./../media/2.png);
    background-position: bottom -58px right 0;
    // background-size: 56%;
  }

  .titleWrapper {
    display: flex;

    position: absolute;
    top: 144px;

    // background-color: aquamarine;
  }

  .left {
    margin-right: 54px;
  }

  .right {
    width: 230px;
    flex-direction: row;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: right;
  }

  .discont {
    background: #ffeb5b;
    border-radius: 100px;
    padding: 6px 6px 4px 6px;
    // height: 22px;
    font-size: 18px;
    line-height: 25px;
  }
  .subtitle {
    margin-top: 47px;
    font-weight: 700;
    font-size: 35px;
    line-height: 120%;
    letter-spacing: 1px;
  }

  .description1 {
    font-size: 20px;
    // background-color: bisque;
    margin-top: 15px;
    width: 428px;
    line-height: 140%;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    margin-top: 73px;
    font-size: 20px;
    :first-child {
      margin-right: 15px;
    }
  }

  .button {
    display: flex;
    font-size: 20px;
    padding: 11px 22px;
    border-radius: 100px;
    line-height: 28px;
    align-items: center;
    background-color: #1d1d1b;
    box-shadow: -1px 0px 0px #000000, 1px 0px 0px #000000, 0px -1px 0px #000000,
      0px 3px 0px #000000;
    color: #fff;
    &:hover {
      cursor: pointer;
    }
  }

  .buttonWhite {
    background-color: #fff;
    color: #1d1d1b;
  }

  .secondBlock {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
  }

  .thirdBlock {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #efefef;
  }
}
