@import "../components/shared.module.less";

:local {
  .firstBlock {
    .mainBlock;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0px 70px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-color: @blue;
    justify-content: center;
    background-position: bottom -58px right 0;
    overflow: hidden;
  }

  .circle {
    position: absolute;
    top: 10%;
    right: -10%;
    width: 1000px;
    height: 900px;
    background: rgba(255, 255, 255, 0.2);
    animation: waves 5s infinite linear;
    border-radius: 46%;
    transform-origin: 50% 48%;
  }

  .circle:nth-child(2) {
    animation-duration: 7s;
  }

  .circle:nth-child(3) {
    margin-top: 30px;
    animation-duration: 9s;
  }
  @keyframes waves {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  .bgImg {
    position: absolute;
    right: 20px;
    bottom: 0;
    z-index: 2;
    width: 697px;
    height: 667px;
    background-image: url("./../media/bg_main.png");
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .titleWrapper {
    display: flex;
    z-index: 10;
  }

  .left {
    margin-right: 54px;
  }

  .right {
    width: 230px;
    flex-direction: row;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: right;
  }

  .discont {
    background: #ffeb5b;
    border-radius: 100px;
    padding: 6px 6px 4px 6px;
    font-size: 18px;
    line-height: 25px;
  }
  .subtitle {
    margin-top: 47px;
    font-weight: 500;
    font-size: 35px;
    line-height: 120%;
    letter-spacing: -1px;
    font-family: Value Sans Pro Bold;
  }

  .description1 {
    font-size: 20px;
    margin-top: 15px;
    width: 428px;
    line-height: 140%;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    margin-top: 73px;
    font-size: 20px;
    gap: 15px;
  }

  .button {
    display: flex;
    font-size: 20px;
    padding: 11px 22px;
    border-radius: 100px;
    line-height: 28px;
    align-items: center;
    background-color: @black;
    box-shadow: -1px 0px 0px #000000, 1px 0px 0px #000000, 0px -1px 0px #000000,
      0px 3px 0px #000000;
    color: #fff;
    &:hover {
      cursor: pointer;
    }
  }

  .buttonWhite {
    background-color: #fff;
    color: @black;
  }

  .secondBlock {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
  }

  .thirdBlock {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #efefef;
  }

  .marquee {
    display: none;
  }

  //планшет
  @media screen and (max-width: 1024px) {
    .firstBlock {
      .mainBlock;
      padding: 30px 0 40px 0;
      box-sizing: border-box;
      background-repeat: no-repeat;
      background-color: @blue;
      justify-content: start;
      background-position: bottom -58px right 0;
      overflow: hidden;
    }

    .bgImg {
      position: initial;
      right: 0;
      top: 188px;
      // width: 375px;
      width: 100%;

      height: 390px;
      // height: auto;

      background-image: url("./../media/bg_main_mobile.png");
    }

    .left {
      margin-right: 0;
    }

    .title {
      display: none;
    }

    .subtitle {
      padding: 0 15px;
    }

    .description1 {
      width: 100%;
      font-size: 16px;
      line-height: 140%;
      padding: 0 15px;
    }

    .buttons {
      width: 100%;
      position: absolute;
      flex-direction: column;
      padding: 0 15px;

      gap: 10px;
      bottom: 85px;
      box-sizing: border-box;

      .button {
        justify-content: center;
        font-size: 14px;
        line-height: 140%;
      }
    }

    .right {
      display: none;
    }

    .marquee {
      display: flex;
      position: absolute;
      bottom: 20px;
      background-color: #ffeb5b;
      padding: 5px 0;
    }
  }

  //мобилка
  @media screen and (max-width: 428px) {
    .step {
    }
  }
}
