@import "../../components/shared.module.less";

:local {
  .header {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    top: 0;
    left: 0;
    font-family: Value Sans Pro Regular;
    box-sizing: border-box;
    padding: 15px 70px;
    color: @black;
    font-size: 20px;
    line-height: 26px;
    z-index: 100;
    transition: all 0.3s ease;
    .logo {
      display: none;
    }
  }

  .headerFixed {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    .logo {
      display: flex;
    }
    box-shadow: 0px 216px 406px rgba(202, 224, 236, 0.11),
      0px 99.8633px 187.706px rgba(202, 224, 236, 0.0815843),
      0px 57.1395px 107.401px rgba(202, 224, 236, 0.0689459),
      0px 34.6833px 65.1917px rgba(202, 224, 236, 0.0593943),
      0px 20.8982px 39.2809px rgba(202, 224, 236, 0.0506057),
      0px 11.6375px 21.8741px rgba(202, 224, 236, 0.0410541),
      0px 5.0052px 9.40792px rgba(202, 224, 236, 0.0284157);
  }

  .headerWhite {
    background-color: #fff;
  }

  .nav {
    display: flex;
    padding: 5px 0;
    gap: 40px;
  }

  .logo {
    display: flex;
    align-items: center;
    margin-right: 50px;
  }

  .hover {
    &:hover {
      cursor: pointer;
      transform: translateY(-2px);
      transition-duration: 0.3s;
    }
  }

  .signIn {
    display: flex;
    font-size: 18px;
    padding: 3.5px 26.5px;
    border-radius: 100px;
    line-height: 28px;
    align-items: center;
    background-color: @black;
    box-shadow: -1px 0px 0px #000000, 1px 0px 0px #000000, 0px -1px 0px #000000,
      0px 3px 0px #000000;
    color: #fff;
    .hover;
  }

  .tile {
    display: flex;
    align-items: center;
    line-height: 28px;
    .hover;
  }

  //планшет
  @media screen and (max-width: 1024px) {
    .header {
      width: 100%;
      padding: 15px 15px;
      justify-content: right;
    }

    .headerFixed {
      justify-content: space-between;

    }

    .nav {
      display: none;
    }
  }

  //мобилка
  @media screen and (max-width: 428px) {
    .nav {
      display: none;
    }
  }
}
