@import "../../components/shared.module.less";

:local {
  .header {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    top: 0;
    left: 0;
    font-family: Value Sans Pro Regular;
    box-sizing: border-box;
    padding: 15px 70px;
    color: @black;
    font-size: 20px;
    line-height: 26px;
    z-index: 100;
    transition: all 0.3s ease;
  }

  .headerFixed {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;

  }

  .headerWhite {
    background-color: #fff;
  }

  .left {
    display: flex;
    padding: 5px 0;
  }

  .hover {
    &:hover {
      cursor: pointer;
      transform: translateY(-2px);
      transition-duration: 0.3s;
    }
  }

  .signIn {
    display: flex;
    font-size: 18px;
    padding: 3.5px 26.5px;
    border-radius: 100px;
    line-height: 28px;
    align-items: center;
    background-color: @black;
    box-shadow: -1px 0px 0px #000000, 1px 0px 0px #000000, 0px -1px 0px #000000,
      0px 3px 0px #000000;
    color: #fff;
    .hover;
  }

  .tile {
    height: 28px;
    margin-right: 40px;
    .hover;
  }
}
