@blue: #b0d1fb;
@black: #1d1d1b;
@gray: #efefef;
@white: #fff;

.mainBlock {
  width: 100%;
  min-width: 1080px;
  min-height: 100vh;
  padding: 0 70px;
}

.buttonStyle {
  display: flex;
  align-items: center;
  border-radius: 100px;
  background-color: @white;
  box-shadow: -1px 0px 0px #000000, 1px 0px 0px #000000, 0px -1px 0px #000000,
    0px 3px 0px #000000;
  &:hover {
    cursor: pointer;
  }
}

.boldText {
  font-family: Value Sans Pro Bold;
  letter-spacing: -1px;
  font-weight: 500;
}

.mediumText {
  font-family: Value Sans Pro Medium;
  letter-spacing: -1px;
  font-weight: 600;
}

:export {
  blue: @blue;
  black: @black;
  gray: @gray;
  white: @white;
}
