@text-color-black: #222;
@bg-color: #f6f6f6;
@header-height: 9vh;
@menu-width: 370px;

:export {
  textColorBlack: @text-color-black;
  bgColor: @bg-color;
  headerHeight: @header-height;
  menuWidth: @menu-width;
}
