:local {
  .tariffBlock {
    padding: 100px 188px;
    box-sizing: border-box;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    text-align: center;
    color: #87b7f3;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    font-size: 50px;
  }

  .subtitle {
    margin: 15px auto 0 auto;
    text-align: center;
    width: 679px;
    font-size: 20px;
    line-height: 140%;
    color: #1d1d1b;
  }

  .wrapperText {
    margin-top: 60px;
    color: #1d1d1b;
  }

  .title1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 110%;
  }

  .featureWrapper {
    margin: 30px 0 15px 0;
  }
  .featureTitle {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
  }
  .featuredescription {
    font-size: 20px;
    line-height: 28px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
  }
}
