:local {
  .compBlock {
    padding-top: 100px;
    box-sizing: border-box;
    height: 425px;
    background-color: #1d1d1b;
    display: flex;
    flex-direction: column;
  }

  .blockWrapper {
    color: #fff;
    width: 851px;
    font-weight: 700;
    font-size: 45px;
    line-height: 110%;
    margin-bottom: 70px;
    margin-left: 200px;
  }

  .blueText {
    color: #b0d1fb;
  }

  .marquee {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .marquee > div {
    margin-right: 50px;
  }
}
