@import "../../components/shared.module.less";

:local {
  .compBlock {
    display: flex;
    flex-direction: column;
    min-height: 425px;
    padding-top: 100px;
    padding-bottom: 50px;
    box-sizing: border-box;
    background-color: @black;
    .boldText;
  }

  .blockWrapper {
    color: #fff;
    width: 851px;
    font-weight: 700;
    font-size: 45px;
    line-height: 110%;
    margin-bottom: 70px;
    margin-left: 200px;
  }

  .blueText {
    color: @blue;
  }

  .marquee {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .marquee > div {
    margin-right: 50px;
  }
}
