@import "../../components/shared.module.less";

:local {
  .tariffBlock {
    .mainBlock;
    padding: 100px 141px;
    box-sizing: border-box;
    background-color: #efefef;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .blockWrapper {
    width: 663px;
  }

  .wrapperText {
    margin-top: 60px;
    color: @black;
  }

  .title {
    .mediumText;

    width: 580px;
    color: @black;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
  }

  .buttons {
    margin-top: 63px;
  }

  .textBlue {
    color: #7cb2f8;
  }

  a {
    text-decoration: none;
  }

  .formWrapper {
    margin-top: 40px;
  }

  .formWrapper > input {
    margin-bottom: 20px;
  }

  .input {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    padding: 5px 5px 5px 30px;
    gap: 7px;
    font-size: 20px;
    color: @black;

    width: 630px;
    height: 60px;
    background: #ffffff;
    box-shadow: -1px 0px 0px #000000, 1px 0px 0px #000000, 0px -1px 0px #000000,
      0px 3px 0px #000000;
    border-radius: 20px;
  }

  input,
  textarea {
    font-family: Value Sans Pro Regular;
    color: @black;
    border: none;
  }

  .textarea {
    padding-top: 20px;
    height: 161px;
  }

  .checkboxWrapper {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
  }

  .checkbox {
    margin-right: 20px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 100%;
  }

  .checkboxRow {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-bottom: 10px;
    align-items: center;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    margin-top: 38px;
  }

  .button {
    background-color: @blue;
    color: @black;
    width: 309px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .boldText {
    .mediumText;
  }

  //планшет
  @media screen and (max-width: 1024px) {
    .tariffBlock {
      min-height: auto;
      padding: 80px 15px;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .blockWrapper {
      width: 100%;
    }

    .title {
      width: 100%;
    }

    .input {
      width: 100%;
      font-size: 14px;
      line-height: 140%;
      height: 40px;
      border-radius: 12px;
      padding: 10px 20px;
    }

    .textarea {
      height: 110px;
      border-radius: 12px;
      padding: 10px 20px;
    }

    .checkbox {
      margin-right: 10px;
      width: 17px;
      height: 17px;
    }

    .checkboxRow {
      font-size: 14px;
      line-height: 140%;
    }

    .checkboxWrapper {
      margin-top: 40px;
    }

    .buttons {
      margin-top: 30px;
    }

    .button {
      font-size: 14px;
      width: 100%;
      padding: 10px auto;
    }
  }

  //мобилка
  @media screen and (max-width: 428px) {
    .step {
    }
  }
}
