body {
  margin: 0;
  font-family: Value Sans Pro Regular, Value Sans Pro Bold, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Value Sans Pro Regular";
  src: url("./fonts/ValueSansPro/ValueSansProRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Value Sans Pro Bold";
  src: url("./fonts/ValueSansPro/ValueSansProBold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Value Sans Pro Medium";
  src: url("./fonts/ValueSansPro/ValueSansProMedium.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Value Sans Pro Black";
  src: url("./fonts/ValueSansPro/ValueSansProBlack.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}


